<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qsky.policesys.core.dao.mapper.ImportantPersonInfoMapper">
  <resultMap id="PersonListResultMap"
    type="cn.qsky.policesys.core.dao.model.ImportantPersonInfoModel">
    <id column="PK" jdbcType="BIGINT" property="pk"/>
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="id_card" jdbcType="CHAR" property="idCard"/>
    <result column="sex" jdbcType="BIT" property="sex"/>
    <result column="nation" jdbcType="VARCHAR" property="nation"/>
    <result column="age" jdbcType="TINYINT" property="age"/>
    <result column="group_type" jdbcType="VARCHAR" property="groupType"/>
    <result column="control_keyword" jdbcType="VARCHAR" property="controlKeyword"/>
    <result column="marital_status" jdbcType="CHAR" property="maritalStatus"/>
    <result column="domicile" jdbcType="VARCHAR" property="domicile"/>
    <result column="residence" jdbcType="VARCHAR" property="residence"/>
    <result column="phone_text" jdbcType="VARCHAR" property="phoneText"/>
    <result column="wechat_name_text" jdbcType="VARCHAR" property="wechatNameText"/>
    <result column="jurisdiction" jdbcType="VARCHAR" property="jurisdiction"/>
    <result column="juri_police" jdbcType="VARCHAR" property="juriPolice"/>
    <result column="education" jdbcType="VARCHAR" property="education"/>
    <result column="veteran_status" jdbcType="VARCHAR" property="veteranStatus"/>
    <result column="job" jdbcType="VARCHAR" property="job"/>
    <result column="work_place" jdbcType="VARCHAR" property="workPlace"/>
    <result column="work_status" jdbcType="CHAR" property="workStatus"/>
    <result column="control_reason" jdbcType="VARCHAR" property="controlReason"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
    <result column="ext1" jdbcType="VARCHAR" property="ext1"/>
  </resultMap>
  <sql id="queryDtoWhereClause">
    <where>
      i.delete_flag = 0
      <if test="queryDTO.controlKeyword != null and queryDTO.controlKeyword != ''">
        and i.control_keyword = #{queryDTO.controlKeyword,jdbcType=VARCHAR}
      </if>
      <if test="queryDTO.groupType != null and queryDTO.groupType != ''">
        and i.group_type = #{queryDTO.groupType,jdbcType=VARCHAR}
      </if>
      <if test="queryDTO.idCard != null and queryDTO.idCard != ''">
        and i.id_card = #{queryDTO.idCard,jdbcType=CHAR}
      </if>
      <if test="queryDTO.name != null and queryDTO.name != ''">
        and i.name = #{queryDTO.name,jdbcType=VARCHAR}
      </if>
      <if test="queryDTO.phoneText != null and queryDTO.phoneText != ''">
        and i.phone_text like CONCAT('%', #{queryDTO.phoneText,jdbcType=VARCHAR}, '%')
      </if>
      <if test="queryDTO.wechatNameText != null and queryDTO.wechatNameText != ''">
        and i.wechat_name_text like CONCAT('%', #{queryDTO.wechatNameText,jdbcType=VARCHAR}, '%')
      </if>
      <if test="queryDTO.jurisdiction != null and queryDTO.jurisdiction != ''">
        and i.jurisdiction = #{queryDTO.jurisdiction,jdbcType=VARCHAR}
      </if>
      <if test="queryDTO.juriPolice != null and queryDTO.juriPolice != ''">
        and i.juri_police = #{queryDTO.juriPolice,jdbcType=VARCHAR}
      </if>
      <if test="queryDTO.sex != null">
        and i.sex = #{queryDTO.sex,jdbcType=BIT}
      </if>
      <choose>
        <when test="queryDTO.startAge == null and queryDTO.endAge != null">
          and i.age &lt;= #{queryDTO.endAge,jdbcType=TINYINT}
        </when>
        <when test="queryDTO.startAge != null and queryDTO.endAge == null">
          and i.age >= #{queryDTO.startAge,jdbcType=TINYINT}
        </when>
        <when test="queryDTO.startAge != null and queryDTO.endAge != null">
          and i.age >= #{queryDTO.startAge,jdbcType=TINYINT}
          and i.age &lt;= #{queryDTO.endAge,jdbcType=TINYINT}
        </when>
      </choose>
    </where>
  </sql>
  <select id="listImportantPersonInfoForPage" resultMap="PersonListResultMap"
    parameterType="cn.qsky.policesys.core.dto.ImportantPersonPageQueryDTO">
    SELECT
    i.*
    FROM
    important_person_info AS i
    <include refid="queryDtoWhereClause"/>
  </select>

  <resultMap id="PersonResultMap" type="cn.qsky.policesys.core.dao.model.ImportantPersonInfoModel">
    <id column="PK" jdbcType="BIGINT" property="pk"/>
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="id_card" jdbcType="CHAR" property="idCard"/>
    <result column="sex" jdbcType="BIT" property="sex"/>
    <result column="nation" jdbcType="VARCHAR" property="nation"/>
    <result column="age" jdbcType="TINYINT" property="age"/>
    <result column="group_type" jdbcType="VARCHAR" property="groupType"/>
    <result column="control_keyword" jdbcType="VARCHAR" property="controlKeyword"/>
    <result column="marital_status" jdbcType="CHAR" property="maritalStatus"/>
    <result column="domicile" jdbcType="VARCHAR" property="domicile"/>
    <result column="residence" jdbcType="VARCHAR" property="residence"/>
    <result column="phone_text" jdbcType="VARCHAR" property="phoneText"/>
    <result column="wechat_name_text" jdbcType="VARCHAR" property="wechatNameText"/>
    <result column="jurisdiction" jdbcType="VARCHAR" property="jurisdiction"/>
    <result column="juri_police" jdbcType="VARCHAR" property="juriPolice"/>
    <result column="education" jdbcType="VARCHAR" property="education"/>
    <result column="veteran_status" jdbcType="VARCHAR" property="veteranStatus"/>
    <result column="job" jdbcType="VARCHAR" property="job"/>
    <result column="work_place" jdbcType="VARCHAR" property="workPlace"/>
    <result column="work_status" jdbcType="CHAR" property="workStatus"/>
    <result column="control_reason" jdbcType="VARCHAR" property="controlReason"/>
    <result column="remark" jdbcType="VARCHAR" property="remark"/>
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
    <collection property="records" columnPrefix="r_"
      ofType="cn.qsky.policesys.core.dao.model.ImportantPersonRecordModel">
      <id column="PK" jdbcType="BIGINT" property="pk"/>
      <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
      <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
      <result column="name" jdbcType="VARCHAR" property="name"/>
      <result column="id_card" jdbcType="CHAR" property="idCard"/>
      <result column="score" jdbcType="TINYINT" property="score"/>
      <result column="record_date" jdbcType="DATE" property="recordDate"/>
      <result column="week" jdbcType="CHAR" property="week"/>
      <result column="group_type" jdbcType="VARCHAR" property="groupType"/>
      <result column="petition_location" jdbcType="VARCHAR" property="petitionLocation"/>
      <result column="petition_region" jdbcType="CHAR" property="petitionRegion"/>
      <result column="petition_dynamic" jdbcType="VARCHAR" property="petitionDynamic"/>
      <result column="confirm" jdbcType="BIT" property="confirm"/>
      <result column="incite_method" jdbcType="VARCHAR" property="inciteMethod"/>
      <result column="info_sources" jdbcType="VARCHAR" property="infoSources"/>
      <result column="qq_group" jdbcType="VARCHAR" property="qqGroup"/>
      <result column="wechat_group" jdbcType="VARCHAR" property="wechatGroup"/>
      <result column="group_size" jdbcType="SMALLINT" property="groupSize"/>
      <result column="consequence" jdbcType="BIT" property="consequence"/>
      <result column="conse_score" jdbcType="TINYINT" property="conseScore"/>
      <result column="petition_situation" jdbcType="VARCHAR" property="petitionSituation"/>
      <result column="record_type" jdbcType="VARCHAR" property="recordType"/>
      <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
    </collection>
  </resultMap>
  <select id="getImportantPersonInfo" resultMap="PersonResultMap" parameterType="java.lang.String">
    SELECT
    i.*,
    r.PK AS r_PK, r.created_time AS r_created_time, r.modified_time AS r_modified_time, r.name AS r_name,
    r.id_card AS r_id_card, r.score AS r_score, r.record_date AS r_record_date, r.week AS r_week,
    r.group_type AS r_group_type, r.petition_location AS r_petition_location,
    r.petition_region AS r_petition_region, r.petition_dynamic AS r_petition_dynamic, r.confirm AS r_confirm,
    r.incite_method AS r_incite_method, r.info_sources AS r_info_sources, r.qq_group AS r_qq_group,
    r.wechat_group AS r_wechat_group, r.group_size AS r_group_size, r.consequence AS r_consequence,
    r.conse_score AS r_conse_score, r.petition_situation AS r_petition_situation,
    r.record_type AS r_record_type, r.delete_flag AS r_delete_flag
    FROM
    important_person_info AS i
    LEFT JOIN
    important_person_record AS r
    ON i.id_card = r.id_card
    WHERE
    i.id_card = #{IdCard,jdbcType=VARCHAR}
    and i.delete_flag = 0
    and (r.delete_flag = 0 or r.delete_flag is null)
  </select>
</mapper>