<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qsky.policesys.core.dao.mapper.ImportantPersonRecordMapper">
  <resultMap id="RecordListResultMap" type="cn.qsky.policesys.core.dao.model.ImportantPersonRecordModel">
    <id column="PK" jdbcType="BIGINT" property="pk"/>
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="id_card" jdbcType="CHAR" property="idCard"/>
    <result column="score" jdbcType="TINYINT" property="score"/>
    <result column="record_date" jdbcType="DATE" property="recordDate"/>
    <result column="week" jdbcType="CHAR" property="week"/>
    <result column="group_type" jdbcType="VARCHAR" property="groupType"/>
    <result column="petition_location" jdbcType="VARCHAR" property="petitionLocation"/>
    <result column="petition_region" jdbcType="CHAR" property="petitionRegion"/>
    <result column="petition_dynamic" jdbcType="VARCHAR" property="petitionDynamic"/>
    <result column="confirm" jdbcType="BIT" property="confirm"/>
    <result column="incite_method" jdbcType="VARCHAR" property="inciteMethod"/>
    <result column="info_sources" jdbcType="VARCHAR" property="infoSources"/>
    <result column="qq_group" jdbcType="VARCHAR" property="qqGroup"/>
    <result column="wechat_group" jdbcType="VARCHAR" property="wechatGroup"/>
    <result column="group_size" jdbcType="SMALLINT" property="groupSize"/>
    <result column="consequence" jdbcType="BIT" property="consequence"/>
    <result column="conse_score" jdbcType="TINYINT" property="conseScore"/>
    <result column="petition_situation" jdbcType="VARCHAR" property="petitionSituation"/>
    <result column="record_type" jdbcType="VARCHAR" property="recordType"/>
    <result column="ext1" jdbcType="VARCHAR" property="ext1"/>
    <result column="ext2" jdbcType="VARCHAR" property="ext2"/>
    <result column="ext3" jdbcType="VARCHAR" property="ext3"/>
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag"/>
  </resultMap>
  <select id="listImportantPersonRecordForPage" resultMap="RecordListResultMap"
    parameterType="cn.qsky.policesys.core.dto.ImportantRecordPageQueryDTO">
    SELECT
    PK, created_time, modified_time, name, id_card, score, record_date, week, group_type,
    petition_location, petition_region, petition_dynamic, confirm, incite_method, info_sources,
    qq_group, wechat_group, group_size, consequence, conse_score, petition_situation,
    record_type, ext1, ext2, ext3, delete_flag
    FROM
    important_person_record
    WHERE
    delete_flag = 0
    <choose>
      <when test="queryDTO.startRecordDate == null and queryDTO.endRecordDate != null">
        and record_date &lt;= #{queryDTO.endRecordDate,jdbcType=DATE}
      </when>
      <when test="queryDTO.startRecordDate != null and queryDTO.endRecordDate == null">
        and record_date >= #{queryDTO.startRecordDate,jdbcType=DATE}
      </when>
      <when test="queryDTO.startRecordDate != null and queryDTO.endRecordDate != null">
        and record_date >= #{queryDTO.startRecordDate,jdbcType=DATE}
        and record_date &lt;= #{queryDTO.endRecordDate,jdbcType=DATE}
      </when>
    </choose>
    <if test="queryDTO.idCard != null and queryDTO.idCard != ''">
      and id_card = #{queryDTO.idCard,jdbcType=VARCHAR}
    </if>
    <if test="queryDTO.petitionRegion != null and queryDTO.petitionRegion != ''">
      and petition_region = #{queryDTO.petitionRegion,jdbcType=VARCHAR}
    </if>
    <if test="queryDTO.inciteMethod != null and queryDTO.inciteMethod != ''">
      and incite_method = #{queryDTO.inciteMethod,jdbcType=VARCHAR}
    </if>
    <if test="queryDTO.infoSources != null and queryDTO.infoSources != ''">
      and info_sources = #{queryDTO.infoSources,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>